
body{
     background-color: #1C1C1C;
     font-size: 75%;
     font: bold 9pt/12pt verdana;
     text-align: center;
     text-weight: bold;
     color: #B5B5B5}


table{
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 20px;
    empty-cells: hide;
    background : #363636;
    border: 1px solid #1C1C1C;
    margin-left: auto; 
    margin-right: auto}

td{
    background: #696969;
    padding: 15px;
    border: 1px solid #1C1C1C}

img{
    border-width: 1px;
    border-color: #1C1C1C}

caption{
    font: bold 15pt/25pt verdana;
    text-transform: uppercase;
    margin: auto;
    border: 1px solid #1C1C1C;
    border-bottom: 0px;
    font-weight: bolder;
    padding: 5px;
    padding-left: 20px;
    text-align: left;
    color: #CFCFCF;
    background : #363636}

a.fullimage {
	font: 8pt/9pt Verdana;
	font-weight: none;
	color: #666666;
	text-decoration: none}

div.copyright {
    text-align: center;
    text-weight: bold;
    font: italic 9pt/10pt verdana}
